streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
openpyxl
statsmodels
plotly
prophet
fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
openai
faiss-cpu
chromadb
huggingface-hub
sentence-transformers
langchain_groq
tiktoken